body{
	margin: 5% 20%;
}
#big_box{
	width: 700px;
	height: 100%;
	float: left;
	display: block;
}
#cropper,
#cropper2{
	position: absolute;
	
	width: 50px;
	height:50px;
	z-index: 10;
	opacity: 0.2;
	background: black;
}
.big_box img{
	opacity: 1;
	float: left;
	position: relative;
}
